@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --color-brand-green: #6B8E23;
  --color-brand-forest: #2F3E2C;
  --color-brand-sand: #F5F1E9;
  --color-brand-terracotta: #E07A5F;
  --color-bg-off-white: #FAF9F6;
  --color-text-main: #2C2C2C;
}

@layer base {
  body {
    @apply bg-bg-off-white text-text-main font-sans antialiased;
  }
}


:root {
  font-family: 'Outfit', sans-serif;
}